.btn {
    padding: 12px 16px !important;
    margin-bottom: 20px;
}

.middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    text-align: center;
}
.nav-link:hover {
    color: rgb(164,128,74) !important;
}
img {
    height: 50px;
    width: 35px;
}
.margin-bottom {
    margin-bottom: 16px;
}

.standard-pad {
    padding: 12px 16px !important;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: rgb(56, 87, 117);
    color: white;
    margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
    color: black;
    }

