<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='new_style.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <style>
    .standard-pad {
      margin: 10px 10px !important;
    }

    .center {
      text-align: center;
    }

    .container {
      padding-left: 20px;
    }

    .btn {
      border: rgb(212, 213, 212) !important;
      background-color: rgb(212, 27, 44) !important;
    }

    .btn:hover {
      background-color: black !important;

    }

    .grey-background {
      background-color: rgb(212, 212, 212);
      padding: 12px 16px;
    }
  </style>
</head>

<body>
  <div class="container"></div>
  <div class="center grey-background">
    <h1>{{username}}</h1>
    <h3><i> {{college_name}}</i></h3>

    <a href="{{ url_for('ADMIN_create_lab') }}"><button>Create New Lab</button></a>
    <a href="{{ url_for('ADMIN_update_building_street') }}"><button>Update Building</button></a>
    <a href="{{ url_for('ADMIN_create_building') }}"><button>Create New Building</button></a>
    <a href="{{ url_for('index') }}"><button>Logout</button></a>
  </div>


  <div class='center'>
    <br>
    <h2> Lab Info </h2>
    {% for a in data %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary standard-pad" data-bs-toggle="modal" data-bs-target=#{{a["lab_name"]}}>
      {{a["lab_name"]}}
    </button>

    <!-- Modal -->
    <div class="modal fade" id={{a["lab_name"]}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{a["lab_name"]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p> <b> Description: </b> {{a["lab_description"]}} </p>
            <p> <a href={{ a["website"] }}> Website </a> </p>
            {% if a["recruiting_status"] == 1 %}

            <p style="color:green"> <b> Recruiting </b> </p>

            {% else %}
            <p style="color:red"> <b> Not Recruiting </b> </p>
            {% endif %}
            <p> <b> Department </b> {{a["department"]}} </p>
            <p> <b> Building </b> {{a["building_name"]}} </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</body>


</html>