<!DOCTYPE html>
<html>

<head>
    <title>PI</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>pi page</h1>

    <a href="{{ url_for('PI_create_project') }}"><button>Create New Project</button></a>
    <a href="{{ url_for('PI_update_project_description') }}"><button>Update Project</button></a>
    <a href="{{ url_for('PI_add_lab_member') }}"><button>Add Lab Member</button></a>
    <a href="{{ url_for('PI_delete_lab_member') }}"><button>Delete Lab Member</button></a>
    <a href="{{ url_for('PI_publish_project') }}"><button>Publish Project</button></a>
    <a href="{{ url_for('PI_delete_project') }}"><button>Delete Project</button></a>
    <a href="{{ url_for('index') }}"><button>Back to main page</button></a>
    


</body>

</html>