<!DOCTYPE html>
<html>

<head>
    <title>PI Delete Project</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>pi delete project</h1>
    {% if message %}
            <p><strong>message: </strong> {{ message }}
    {% endif %}

    <form action="" method="post">
        <dl>
        <dt>Project Title:</dt>
        <dd>
                <input type="text" name="project_title" 
                value="{{ request.form.project_title }}">
        </dd>

        </dl>
        <p><input type="submit" value="Delete"></p>
    </form>

    <a href="{{ url_for('pi') }}"><button>Back to PI main page</button></a>

    <a href="{{ url_for('index') }}"><button>Back to main page</button></a>

</body>

</html>